<!doctype html>
<html>
	<head>
		<title><%= title %></title>

		<script src="/socket.io/socket.io.js"></script>
		<script src="javascripts/jquery.js"></script>
		<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?sensor=false">
    </script>
		<script src="javascripts/main.js"></script>

		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
		<link href="stylesheets/grid.css" type="text/css" rel="stylesheet" />
		<link href="stylesheets/main.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="search">
			<input type="text" id="griddy_url" placeholder="Enter Griddy.org URL..." value="http://griddy.org?link=SElTMTA5WTFZIEwwMTAxLExJTjEwMFkxWSBMNTEwMSxMSU4xMDBZMVkgVDAxMDEsRU5HMTAwSDFGIEw1MTAxLEVORzE0MFkxWSBMMDEwMSxFTkcxNDBZMVkgVDAxMDEsUE1VMTk5SDFGIEwwMTEyLFBTWTMwN0gxRiBMMDEwMSxFTkcyMDVIMUYgTDAxMDEsQklHMTAxWTFZIFQ1MTAxLExURTE5OUgxUyBMMDEwMSxOTUMxMDJIMVMgTDAxMDEsTk1DMTAySDFTIFQwMjAx" />
			<input type="button" id="submit" value="go" />
		</div>
		<div class="section-holder fall">
			<div class="section-title">
				FALL TERM
			</div>
			<div class="section" id="fall">
				<table class="pair">
					<tr>
						<td>
							<div class="class first">
								<div class="course-code">ENG205H1F L0101</div>
								<div class="time">Wednesdays <em>10:00 AM</em> to <em>11:00 AM</em></div>
								<div class="location">
									<a href="#">Bahen Centre for Information Technology</a>
									</div>
							</div>
						</td>
						<td rowspan="2">
							<div class="duration">
								<a href="#">11 mins</a>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="class first">
								<div class="course-code">ENG205H1F L0101</div>
								<div class="time">Wednesdays <em>10:00 AM</em> to <em>11:00 AM</em></div>
								<div class="location">
									<a href="#">Bahen Centre for Information Technology</a>
									</div>
							</div>
						</td>
					</tr>
				</table>
				<table class="pair">
					<tr>
						<td>
							<div class="class first">
								<div class="course-code">ENG205H1F L0101</div>
								<div class="time">Wednesdays <em>10:00 AM</em> to <em>11:00 AM</em></div>
								<div class="location">
									<a href="#">Bahen Centre for Information Technology</a>
									</div>
							</div>
						</td>
						<td rowspan="2">
							<div class="duration">
								<a href="#">11 mins</a>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="class first">
								<div class="course-code">ENG205H1F L0101</div>
								<div class="time">Wednesdays <em>10:00 AM</em> to <em>11:00 AM</em></div>
								<div class="location">
									<a href="#">Bahen Centre for Information Technology</a>
									</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="section-holder spring">
			<div class="section-title">
				WINTER TERM
			</div>
			<div class="section" id="spring">
				<table class="pair">
					<tr>
						<td>
							<div class="class first">
								<div class="course-code">ENG205H1F L0101</div>
								<div class="time">Wednesdays <em>10:00 AM</em> to <em>11:00 AM</em></div>
								<div class="location">
									<a href="#">Bahen Centre for Information Technology</a>
									</div>
							</div>
						</td>
						<td rowspan="2">
							<div class="duration">
								<a href="#">11 mins</a>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="class first">
								<div class="course-code">ENG205H1F L0101</div>
								<div class="time">Wednesdays <em>10:00 AM</em> to <em>11:00 AM</em></div>
								<div class="location">
									<a href="#">Bahen Centre for Information Technology</a>
									</div>
							</div>
						</td>
					</tr>
				</table>
				<table class="pair">
					<tr>
						<td>
							<div class="class first">
								<div class="course-code">ENG205H1F L0101</div>
								<div class="time">Wednesdays <em>10:00 AM</em> to <em>11:00 AM</em></div>
								<div class="location">
									<a href="#">Bahen Centre for Information Technology</a>
									</div>
							</div>
						</td>
						<td rowspan="2">
							<div class="duration">
								<a href="#">11 mins</a>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="class first">
								<div class="course-code">ENG205H1F L0101</div>
								<div class="time">Wednesdays <em>10:00 AM</em> to <em>11:00 AM</em></div>
								<div class="location">
									<a href="#">Bahen Centre for Information Technology</a>
									</div>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>
