<!doctype html>
<html>
	<head>
		<title>Grubber</title>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
		<script src="/socket.io/socket.io.js"></script>
		<script src="javascripts/infobox.js"></script>
		<script src="javascripts/jquery.js"></script>
		<script src="javascripts/jquery.timeago.js"></script>
		<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdCybdaHWP-6ofCv1E5l7A1NCm9yKYaeM">
    </script>
		<script src="javascripts/main.js"></script>

		<link href="stylesheets/grid.css" type="text/css" rel="stylesheet" />
		<link href="stylesheets/main.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="grid-container">
			<div class="grid-100">
				<div class="title">
					Grubber
					<div class="slogan">Find out where people are tweeting about free food.</div>
				</div>
				<div class="map-holder">
					<div id="map-canvas"></div>
				</div>
			</div>
		</div>
	</body>
</html>
